* {
    margin: 0;
    padding: 0;
}

#h1 {
    text-align: center;
    margin: 15 auto 15;
    background-color: rgb(255, 87, 87);
    color: white;
    height: 40px;
    width: 420px;
    border: 10px solid black;
    border-radius: 10px;
}

body {
    background-image: url('https://picsum.photos/200/300/?blur=2');
    background-size: cover;

}

@media screen and (max-width: 1080px) {
    form {
        margin: 0 auto;
        width: 90%;
        max-width: 800px;
        height: auto;
        background: transparent;
        background-color: teal;
        padding: 20px;
        border-radius: 10px;
        border: 6px solid salmon;
    }

    label {
        font-weight: bold;
        display: block;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;
        font-size: 1.2rem;
        /* adjust font size as needed */
        color: black;
    }

    input {
        background-color: #d6ff63;
        color: rgb(0, 0, 0);
        padding: 10px 15px;
        /* adjust padding as needed */
        border: 3px solid black;
        border-radius: 4px;
        cursor: pointer;
        margin: 0px auto 10px;
        font-size: 1.2rem;
        /* adjust font size as needed */
    }

    button {
        display: block;
        border: 3px solid black;
        border-radius: 5px;
        margin: 15px auto;
        padding: 10px 15px;
        /* adjust padding as needed */
    }

    .error-message {
        color: red;
        margin-top: 5px;
        font-size: 1.2rem;
        /* adjust font size as needed */
    }

}

form {
    margin: 0 auto;
    width: 400px;
    height: 450px;
    background: transparent;
    background-color: teal;
    padding-left: 25px;
    border-radius: 10px;
    border: 6px solid salmon;
}

label {
    font-weight: bold;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: larger;
    color: black;
}

input {
    background-color: #d6ff63;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: 5px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px auto 10px;
}

button {
    display: block;
    border: 5px solid black;
    border-radius: 5px;
    margin: 15px;
    padding: 12px 20px;
}

button:hover {

    background-color: palevioletred;
    border-radius: 10px;
    color: yellow;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 5px;
}